# Xcode
# For community version, see: http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects

# Ignore GitHub Readme images
GitHub-Images/

# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp

# OS X
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100

# Xcode temporary files that should never be committed
*~.nib

# Xcode build files -
DerivedData/
build/

# Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Xcode - semi-personal settings
*.xccheckout

# Throw away ALL personal settings (including custom schemes!
xcuserdata/
*.xcuserstate

# Xcode - Deprecated classes
*.moved-aside

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM
